{% extends '::base.html.twig' %}

{% block body %}
            {{ include('CoreBundle::side-nav.partial.html.twig', {'active': 'overview'}) }}
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h1 class="page-header">{{ 'Dashboard'|trans }}</h1>
                <div id="deployments-table" data-link="{{ path('core_dashboard_deployments') }}"></div>
            </div>
{% endblock %}

{% block footer %}

{% endblock %}
