{% extends '::base.html.twig' %}

{% block body %}
    {{ include('CoreBundle::side-nav.partial.html.twig', {'active': 'projects', 'projects': projects}) }}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">{{ 'Projects'|trans }}</h1>
        {% if projects|length > 0 %}
        <p>project list...</p>
        {% else %}
            <h3{{ 'No projects yet'|trans }}</h3>
        {% endif %}
    </div>
{% endblock %}

{% block footer %}

{% endblock %}
