# ignore assets, keep in mind that prod/ assets will be versioned
/web/bundles/
/web/assets/*

# symfony cache and logs
/app/cache/*
/app/logs/*

# our local node install, node modules and node logs
/app/Resources/node/
node_modules
/*.log

# thirdparty stuff
/vendor/

# bin folder
/bin/*
!/bin/install-node
