@import "definitions/core.definitions"
@import "mixins/*"

.message
  border 1px solid #ccc
  padding 10px
  color #333

  &.success
    border-color: green

  &.error
    border-color: red

  &.warning
    border-color: yellow
